<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="prodImage">
        <label for="image-upload" class="image-label">
          <img src="assets/image.png" class="img-thumbnail" alt="Product Image" />
          <span class="choose-file" *ngIf="isEditing"></span>
        </label>
        <input
          id="image-upload"
          type="file"
          accept="image/*"
          [disabled]="!isEditing"
          style="display: none"
          (change)="handleImageUpload($event)"
        />
      </div>
    </div>
    <div class="col-lg-9">
      <div class="container p-3">
        <form>
          <div class="icon-wrapper" (click)="toggleEditButton()">
            <i class="fa fa-pencil custom-icon">
              <span class="fix-editor">&nbsp;</span>
            </i>
          </div>
          <div class="form-group text-center">
            <input
              type="text"
              name="full_name"
              id="full_name"
              class="form-control display-1"
              placeholder=""
              [value]="customer.full_name"
              [readonly]="isReadOnly"
              [class.editable]="isEditable"
              [(ngModel)]="customer.full_name"
        
            />
          </div>
          <div class="row mt-5 ps-3">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <label for="product-code" class="mb-2 font-weight-bold"
                  >Email</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder=""
                  [value]="customer.email"
                  [readonly]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="customer.email"
                 
                />
              </div>
              <div class="form-group mb-4">
                <label for="product-price" class="mb-2">Phone Number</label>
                <input
                  type="tel"
                  name="mobile_no"
                  id="mobile_no"
                  class="form-control"
                  [value]="customer.mobile_no"
                  [readonly]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="customer.mobile_no"
                
                />
              </div>
              <div class="form-group">
                <label for="product-points" class="mb-2">Address</label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  class="form-control"
                  placeholder=""
                  [value]="customer.address"
                  [readonly]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="customer.address"
                />
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="form-group mb-4 ">
                <label for="product-model" class="mb-2">Gender</label>
                <select
                  name="gender"
                  id="gender"
                  [value]="customer.gender"
                  class="form-control"
                  [disabled]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="customer.gender"
                >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="previlege" class="mb-2">Privilege</label>
                <select
                  name="previlege"
                  id="previlege"
                  class="form-control"
                  [disabled]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="customer.privilege"
                  [value]="customer.privilege"

                >
                  <option value="None">None</option>
                  <option value="Student">Student</option>
                  <option value="PWD">PWD</option>
                  <option value="Senior Citizen">Senior Citizen</option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="product-points" class="mb-2">Points</label>
                <input
                  type="number"
                  name="points"
                  id="points"
                  class="form-control"
                  placeholder=""
                  [value]="customer.points"
                  disabled
                  [(ngModel)]="customer.points"
                
                />
              </div>
            </div>
            <div class="button-group" [class.hidden]="!isEditable">
              <button class="btn btn-primary" (click)="updateCustomer()">
                Save
              </button>
              <button class="btn btn-secondary ms-3" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
