 .btn-secondary {
    background-color: #ccc;
    color: #333;
    border: none;
  }
  
  .btn-primary {
    background-color: #12243b;
    color: white;
    border: none;
  }
  .modal-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding-right: 5%;
  }
  .details{
    background-color: white;
    font-weight:500;
    font-size: 80%;
    color: #12243b;
    border-color: #b9bcc0;
    border-radius: 0%;
    padding: 5%;
  }



.unselect{
  background-color: #12243b;
  border-radius: 0%;
    color: white;
    border: none;
    font-size: 12px;
    padding:1px;
}
table, th, td{
  border-color: transparent;
}
th{
  background-color: white;
  font-weight: 400;
}
td{
  font-weight: bold;
}