 .btn-secondary {
    background-color: #ccc;
    color: #333;
    border: none;
  }
  
  .btn-primary {
    background-color: #12243b;
    color: white;
    border: none;
  }
  .modal-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding-right: 5%;
  }