<div class="modal-actions">
  <button style="position: relative; bottom: 100%" class="btn btn-primary">
    <a
      routerLink="/customers/create"
      style="text-decoration: none; color: inherit"
    >
      Create</a
    >
  </button>

  <button class="btn btn-secondary">
    <a routerLink="/transactions/" style="text-decoration: none; color: inherit"
      >Discard</a
    >
  </button>
</div>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let customer of customers; let i = index">
        <tr [class.selected]="isSelected(customer)" (click)="selectCustomer(customer)">
          <td>
            <span>{{ customer.full_name }}</span>
            <br>
            <button class="btn btn-secondary unselect" *ngIf="isSelected(customer)" (click)="unselectCustomer($event)">
              <i class="fa fa-times"></i> Unselect
            </button>
          </td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.mobile_no }}</td>
          <td>{{ customer.address }}</td>
          <td>
            <button class="btn details"><a routerLink="/customers/{{customer.id}}" style="text-decoration: none;color: inherit;">Details</a></button>
          </td>
        </tr>
      </ng-container>
  </table>
</div>



