<div class="div-wrapper">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="overlap">
          <img class="screen-shot" alt="Screen shot" src="screen-shot-2023-08-25-at-1-28-1.png" />
        </div>
        <div class="div">DITS Inventory</div>
        <div class="overlap-2">
          <div class="text-wrapper-2">Username</div>
          <input type="text" [(ngModel)]="username" name="username" placeholder="Enter your username" />
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-2">Password</div>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Enter your password" />
        </div>
        <img
          class="imgbin-person-logo"
          alt="Imgbin person logo"
          src="imgbin-person-logo-computer-icons-others-g2iixpmwrux2myture0fcmbwx-t-removebg-preview-1.png"
        />
        <img class="login-password" alt="Login password" src="login-password-3-removebg-preview-1.png" />
        <button class="component-2" (click)="login()">Login</button>
      </div>
    </div>
  </div>
  