<div class="d-flex justify-content align-items-center mb-3">
  <button
    style="position: relative; bottom: 100%"
    class="toggle-button"
    (click)="toggleView()"
    matTooltip="Card View"
    matTooltipPosition="above"
  >
    <i class="fas fa-th-large"></i>
  </button>
  <button
    class="toggle-button"
    (click)="cardView()"
    matTooltip="List View"
    matTooltipPosition="above"
  >
    <i class="fas fa-list"></i>
  </button>

  <div
    class="d-flex sort-by"
    [ngClass]="{ 'card-view': isCardView, 'list-view': !isCardView }"
  >
  <select [(ngModel)]="selectedCategory" name="" id="" class="border-0 mt-2" (change)="sortCustomers()">
    <option value="date">Date</option>
    <option value="points">Points</option>
    <option value="gender">Gender</option>
    <option value="address">Address</option>
  </select>
  </div>
</div>


<div class="container-fluid mt-2">
  <div class="row mt-4">
    <div
      [ngClass]="{
        'col-lg-8': !isCardView,
        'col-lg-8 ': isCardView
      }"
    >
      <div class="row">
        <ng-container *ngIf="isCardView; else listView">
          <!-- Card View -->
          <div class="col-md-6" *ngFor="let item of customers; let i = index">
            <a routerLink="/customers/{{ item.id }}" class="card-link">
              <div
                class="card mb-4 customise-card"
                [ngClass]="{ active: i === activeCardIndex }"
                (click)="activateCard(i)"
              >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      class="card-img card-img-height"
                      src="https://img.freepik.com/premium-vector/young-girl-anime-style-character-vector-illustration-design-manga-anime-girl_147933-100.jpg"
                      alt="Card image"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ item.full_name }}</h5>
                      <h6 class="card-text">
                        <i class="fas fa-envelope-open"></i> {{ item.email }}
                      </h6>
                      <p class="card-text">
                        <i class="fas fa-phone"></i> {{ item.mobile_no }}
                      </p>
                      <p class="card-text">
                        <i class="fas fa-tag"></i> {{ item.privilege }}
                      </p>
                      <p class="card-text">
                        <i class="fas fa-map-marker-alt"></i> {{ item.address }}
                      </p>
                      <p class="card-text">
                        <i class="fas fa-star"></i> {{ item.points }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
        <ng-template #listView>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile Number</th>
                  <th>Gender</th>
                  <th>Privilege</th>
                  <th>Address</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of customers; let i = index">
                  <td>{{ item.full_name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.mobile_no }}</td>
                  <td>{{ item.gender }}</td>
                  <td>{{ item.privilege }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.points }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="isCardView" class="col-lg-4">
      <form
        (ngSubmit)="saveCustomer()"
        class="custom-form"
        style="position: relative; bottom: 7%"
      >
        <h4>New Customer</h4>
        <div class="mb-2">
          <label for="full_name">Name</label>
          <input
            type="text"
            [(ngModel)]="full_name"
            name="full_name"
            id="full_name"
            class="form-control"
            placeholder="Enter Full Name"
          />
          <span
            *ngIf="errors.full_name"
            class="alert alert-danger floating-warning"
            [style.top.px]="getErrorPosition(10)"
            >{{ errors.full_name }}</span
          >
        </div>

        <div class="mb-2">
          <label for="email">Email</label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Enter Email"
          />
          <span
            *ngIf="errors.email"
            class="alert alert-danger floating-warning"
            [style.top.px]="getErrorPosition(15)"
            >{{ errors.email }}</span
          >
        </div>

        <div class="mb-2">
          <label for="mobile_no">Mobile Number</label>
          <input
            type="tel"
            [(ngModel)]="mobile_no"
            name="mobile_no"
            id="mobile_no"
            class="form-control"
            placeholder="Enter Mobile Number"
          />
          <span
            *ngIf="errors.mobile_no"
            class="alert alert-danger floating-warning"
            [style.top.px]="getErrorPosition(20)"
            >{{ errors.mobile_no }}</span
          >
        </div>
        <div class="mb-2">
          <label for="address">Address</label>
          <input
            type="text"
            [(ngModel)]="address"
            name="address"
            id="address"
            class="form-control"
            placeholder="Enter Address"
          />
          <span
            *ngIf="errors.address"
            class="alert alert-danger floating-warning"
            [style.top.px]="getErrorPosition(25)"
            >{{ errors.address }}</span
          >
        </div>

        <div class="mb-2">
          <label>Gender</label><br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="gender"
              value="male"
              [(ngModel)]="gender"
            />
            <label class="form-check-label" for="gender">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="gender"
              value="female"
              [(ngModel)]="gender"
            />
            <label class="form-check-label" for="student">Female</label>
            <span
              *ngIf="errors.gender"
              class="alert alert-danger floating-warning"
              [style.top.px]="getErrorPosition(30)"
              >{{ errors.gender }}</span
            >
          </div>

          <div class="mb-2">
            <label for="image">Upload Image</label>
            <input
              type="file"
              (change)="onImageSelected($event)"
              accept="image/*"
              class="form-control"
              id="image"
              name="image"
            />
          </div>

          <div class="mb-2">
            <label>Privilege</label><br />
            <div
              class="form-check form-check-inline"
              *ngFor="let option of ['none', 'student', 'pdw', 'seniorCitizen']"
            >
              <input
                class="form-check-input"
                type="radio"
                name="privilege"
                [id]="option"
                [value]="option"
                [(ngModel)]="privilege"
              />
              <label class="form-check-label" [for]="option">{{
                option
              }}</label>
            </div>
            <span
              *ngIf="errors.privilege"
              class="alert alert-danger floating-warning"
              [style.top.px]="getErrorPosition(30)"
            >
              {{ errors.privilege }}
            </span>
          </div>

          <div class="d-flex">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i> Save
            </button>
          </div>
        </div>
      </form>

      <!-- Recent Products Section -->
      <div
        *ngIf="isCardView && customers.length > 0"
        class="row mt-4"
        style="position: relative; bottom: 7%"
      >
        <h5>Recently Added Customer</h5>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <ng-container
                *ngFor="let item of customers?.slice(0, 1); let i = index"
              >
                <div
                  class="card"
                  [ngClass]="{ active: i === activeCardIndex }"
                  (click)="activateCard(i)"
                  style="width: 340px; position: relative; right: 10%"
                >
                  <a routerLink="/customers/{{ item.id }}" class="card-link">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img
                          class="card-img card-img-height"
                          src="https://img.freepik.com/premium-vector/young-girl-anime-style-character-vector-illustration-design-manga-anime-girl_147933-100.jpg"
                          alt="Card image"
                        />
                      </div>
                      <div class="col-md-8">
                        <div class="body">
                          <h6 class="title">{{ item.full_name }}</h6>
                          <p class="text">
                            <i class="fas fa-envelope-open"></i>
                            {{ item.email }}
                          </p>
                          <p class="text">
                            <i class="fas fa-phone"></i> {{ item.mobile_no }}
                          </p>
                          <p class="text">
                            <i class="fas fa-tag"></i> {{ item.privilege }}
                          </p>
                          <p class="text">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ item.address }}
                          </p>
                          <p class="text">
                            <i class="fas fa-star"></i> {{ item.points }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
