<div class="d-flex justify-content align-items-center ms-4" style="position: relative;">
  <button style="position: relative; bottom: 100%" class="toggle-button" (click)="toggleView()" matTooltip="Card View"
    matTooltipPosition="above">
    <i class="fas fa-th-large"></i>
  </button>
  <button class="toggle-button" (click)="cardView()" matTooltip="List View" matTooltipPosition="above">
    <i class="fas fa-list"></i>
  </button>
  <div class="d-flex sort-by" [ngClass]="{ 'card-view': isCardView, 'list-view': !isCardView }">
    <div class="dropdown filterButton">
      <button class="dropdown-toggle btn btn-sm" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-filter"></i> Filter
      </button>
      <div class="dropdown-menu cursor" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="sortCustomers('date')">Date</a>
        <a class="dropdown-item" (click)="sortCustomers('points')">Points</a>
        <a class="dropdown-item" (click)="sortCustomers('gender')">Gender</a>
      </div>
    </div>
    <div class="addButton cursor">
      <a routerLink="/customers/create" class="btn btn-sm" style="color: #12243b;"><i class="fas fa-user"></i> New Customer</a>
    </div>
  </div>
</div>

<div class="container-fluid mt-2">
  <div class="row">
    <div [ngClass]="{
        'col-lg-12': !isCardView,
        'col-lg-12 ': isCardView
      }">
      <div class="row">
        <ng-container *ngIf="isCardView; else listView">
          <!-- Card View -->
          <div class="col-md-3" *ngFor="let item of customers; let i = index">
            <div class="card customise-card" [ngClass]="{ active: i === activeCardIndex }" (click)="activateCard(i)"
              routerLink="/customers/{{ item.id }}/edit" class="card-link border border-secondary shadow">
              <div class="row">
                <div class="col-md-4 pe-0">
                  <img src="{{item.image}}" alt="" class="card-img card-img-height">
                </div>
                <div class="col-md-8 p-0">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.full_name }}</h5>
                    <h6 class="card-text">
                      <i class="fas fa-envelope-open"></i> {{ item.email }}
                    </h6>
                    <p class="card-text">
                      <i class="fas fa-phone"></i> {{ item.mobile_no }}
                    </p>
                    <p class="card-text">
                      <i class="fas fa-tag"></i> {{ item.privilege }}
                    </p>
                    <p class="card-text">
                      <i class="fas fa-map-marker-alt"></i>
                      {{ item.address }}
                    </p>
                    <p class="card-text">
                      <i class="fas fa-star"></i> {{ item.points }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #listView>
          <table class="table shadow">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Gender</th>
                <th class="text-center">Privilege</th>
                <th>Address</th>
                <th>Reward Points</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of customers; let i = index" class="text-center">
                <td width="15%" title="{{ item.full_name }}">{{ item.full_name }}</td>
                <td width="20%" title="{{ item.email }}">{{ item.email }}</td>
                <td width="15%" title="{{ item.mobile_no }}">{{ item.mobile_no }}</td>
                <td width="8%" title="{{ item.gender }}">{{ item.gender }}</td>
                <td width="10%" title="{{ item.privilege }}" [attr.data-privilege]="item.privilege" class="px-3 "><span>{{ item.privilege }}</span></td>
                <td width="25%" title="{{ item.address }}">{{ item.address }}</td>
                <td width="8%" title="{{ item.points }}" >{{ item.points }}</td>
                <td>
                  <!-- <a routerLink="/customers/{{ item.id }}" class="btn btn-sm btn-success"> <i
                      class="fa fa-eye text-white"></i> </a> &nbsp; -->
                      <a matTooltip="Delete" matTooltipPosition="above"  (click)="deleteCustomer(item.id)" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash text-white"></i>
                      </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row text-center" *ngIf="!customers || customers.length === 0">
    <div style="display: table; height: 400px; overflow: hidden;">
      <div style="display: table-cell; vertical-align: middle;">
        <div>
          <p><i class='fas fa-user-alt'></i> No customers available</p>
        </div>
      </div>
    </div>
  </div>
</div>