<div class="col-lg-6">
    <form>
        <h4>New Cashier</h4>
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="username" class="form-control" id="" aria-describedby="emailHelp"
                placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>