<div class="container-fluid d-flex justify-content-center">
  <form  (ngSubmit)="saveCashier()">
  <div class="row border shadow p-3">
    <h4>New Cashier</h4>
      <div class="col-lg-6">
        <div class="form-group mb-4">
          <label for="exampleInputEmail1">Full Name</label>
          <input
          [(ngModel)]="name" name="name" id="name" class="form-control"
            type="text"
            aria-describedby="emailHelp"
            placeholder="Enter fullname"
          />
        </div>
        <div class="form-group mb-4">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control"
              placeholder="Enter Email" />
        </div>

      
        <div class="form-group mb-4">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            [(ngModel)]="password" name="password" id="password" class="form-control"
            placeholder="Your Password"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-outline-primary w-25 m-auto">Save</button>
</div>
</form>
