<div *ngIf="payment" id="content">
  <div class="row d-flex justify-content-around">
    <div class="container px-3">
      <div class="receipt_header">
        <h1><img src="assets/dits.png" alt="" width="10%" class="mt-3"> <span>DITS</span></h1>
        <h2>365 Triumfo St, Carigara, Philippines, 6530
          <span>Tel: +1 012 345 67 89</span>
        </h2>
      </div>

      <div class="receipt_body">
        <div class="date_time_con">
          <div class="date">11/12/2020</div>
          <div class="time">11:13:06 AM</div>
        </div>

        <div class="items">
          <table class="text-start">
            <thead>
              <tr>
                <th>QUANTITY</th>
                <th>ITEM</th>
                <th>PRICE</th>
                <th>DISCOUNT</th>
              </tr>
            </thead>
        
            <tbody *ngFor="let cartItem of cart">
              <tr >
                <td>{{ cartItem.quantity }}</td>
                <td>{{ cartItem.name }}</td>
                <td>₱ {{ cartItem.price }}</td>
                <td *ngIf="cartItem.discount > 0">{{ cartItem.discount }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">Total</td>
                <td>₱ {{ calculateTotal() }}</td>
              </tr>
        
              <tr>
                <td colspan="3">Cash</td>
                <td>₱ {{ amountPaid }}</td>
              </tr>
        
              <tr>
                <td colspan="3">Change</td>
                <td>₱ {{ calculateChange() }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <h3>Thank You!</h3>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!payment">
  <span *ngIf="!paymentSuccess" style="margin: 2% 2% 2% 2%;"><i class="fas fa-arrow-circle-left"(click)="onBack()"></i></span>
 
  <h1 class="row d-flex justify-content-around">Payment</h1>
  <mat-dialog-content>
    <p>Total Amount: ₱{{ totalAmount }}</p>
    <mat-form-field appearance="outline" style="width: 450px; height: 50px">
      <input class="row d-flex justify-content-around" matInput type="number" placeholder="Amount Paid" [(ngModel)]="amountPaid" name="amountPaid" />
    </mat-form-field>
    <p>Change: ₱{{ calculateChange() }}</p>
  </mat-dialog-content>
</div>
<div class="modal-body"></div>
<div mat-dialog-actions class="modal-actions">
  <button class="btn btn-primary" (click)="onPay()">Pay</button>
  <button *ngIf="paymentSuccess" class="btn btn-success" (click)="onPrintReceipt()">
    Print Receipt
  </button>
  <button *ngIf="paymentSuccess" class="btn btn-secondary" (click)="newOrder()">
    New Order
  </button>
</div>