<h2
  mat-dialog-title
  class="modal-title text-center d-flex flex-column align-items-center"
>
  Payment
</h2>

<div>
  <img style="width: 10%" src="assets/dits.png" alt="" />
  <h4>DITS</h4>
  <p>Tel: 09365109923</p>
  <p>dits@gmail.com</p>
  <p>www.facebook.com</p>
  <p>....................................................</p>
  <p>Served by: Aron Balais</p>

  <div>
    <div *ngFor="let cartItem of cart">
      {{ cartItem.name }} <br />{{ cartItem.quantity }} ₱{{ cartItem.price }}

      <span>Total ₱{{ (+cartItem.price * cartItem.quantity).toFixed(2) }}</span>
      <span *ngIf="cartItem.discount > 0">
        Discount:{{ cartItem.discount }}%</span
      >
      <h1>
        Cash <span>{{ amountPaid }}</span>
      </h1>
      <span>Change ₱{{ calculateChange() }}</span>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 450px; height: 150px">
    <p>Total Amount: ₱{{ totalAmount }}</p>
    <div class="form-group">
      <label for="amountPaid">Amount Paid</label>
      <input
        type="number"
        class="form-control"
        id="amountPaid"
        [(ngModel)]="amountPaid"
      />
    </div>
    <p>Change: ₱{{ calculateChange() }}</p>
  </mat-form-field>
</div>
<div class="modal-body"></div>
<div mat-dialog-actions class="modal-actions">
  <button class="btn btn-primary" (click)="onAdd()">Pay</button>
  <button
    *ngIf="paymentSuccess"
    class="btn btn-success"
    (click)="onPrintReceipt()"
  >
    Print Receipt
  </button>
  <button *ngIf="paymentSuccess" class="btn btn-secondary" (click)="onCancel()">
    New Order
  </button>
</div>
