<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<div class="container" style="overflow: hidden">
  <div class="row">
    <div class="col-lg-4 border mt-1">
      <div class="row">
        <div class="order-empty text-center d-flex flex-column align-items-center">
          <i class="fas fa-shopping-cart"></i><br />
          <h5>This order is empty</h5>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-around p-0">
          <button class="btn bg-light w-100 rounded-0 border-dark p-0">
            <i class="fas fa-sticky-note"></i> Customer Note
          </button>
          <button class="btn bg-light w-50 rounded-0 border-dark">
            <i class="fas fa-info-circle"></i> Info
          </button>
          <button class="btn bg-light w-50 rounded-0 border-dark">
            <i class="fas fa-undo"></i> Refund
          </button>
        </div>
        <button class="btn bg-light w-100 rounded-0 border-dark">
          <i class="fas fa-tag"></i> Internal Note
        </button>

        <div class="col-md-5">
          <div class="row h-25 text-center bg-lightd-flex align-items-center customer">
            <h6>Customer</h6>
          </div>
          <div class="row text-center text-white paymentContainer h-75 d-flex align-items-center">
            <i class="fas fa-chevron-circle-right fs-2"><h6>Payment</h6></i>
            
          </div>
        </div>
        <div class="col-md-7">
          <div class="calculator">
            <div class="buttons">
              <div class="row">
                <div class="col-3">
                  <button class="btn calculator-key">1</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">2</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">3</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">QTY</button>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <button class="btn calculator-key">4</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">5</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">6</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">Disc</button>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <button class="btn calculator-key">7</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">8</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">9</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">Price</button>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <button class="btn calculator-key">+/-</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">0</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">.</button>
                </div>
                <div class="col-3">
                  <button class="btn calculator-key">x</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 d-flex flex-wrap productsContainer">
      <div class="card m-1" *ngFor="let item of products; let i = index">
        <img [src]="item.image" class="card-img-top" alt="Image Description" />
        <div class="card-body">
          <h5
            class="card-title"
            [ngClass]="{ 'long-title': item.name.length > 10 }"
          >
            {{ item.name }}
          </h5>
          <p class="card-text"><b>₱ </b>{{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>