<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<div class="container" style="overflow: hidden">
  <div class="row">
    <div class="col-lg-4 mt-1">
      <div
        class="row bg-white mb-1"
        style="height: 13rem; overflow-y: auto; border-radius: 10px"
      >
        <div class="order-empty" *ngIf="isCartEmpty">
          <span
            class="order-empty text-center d-flex flex-column align-items-center"
          >
            <i class="fas fa-shopping-cart"></i><br />This order is empty
          </span>
        </div>

        <div class="cart-items mt-4">
          <ul *ngIf="!isCartEmpty">
            <li
              class="p-2"
              *ngFor="let cartItem of cart; let i = index"
              [ngClass]="{
                'selected-item': i === selectedProductIndex,
                'newly-added': isNewlyAdded(cartItem),
                modified: isModified(cartItem)
              }"
              (click)="selectCartItem(cartItem, i)"
            >
              {{ cartItem.name }} <br />{{ cartItem.quantity }} Units at ₱{{
                cartItem.price
              }}/Units

              <span class="right"
                >₱{{ (+cartItem.price * cartItem.quantity).toFixed(2) }}</span
              >

              <span *ngIf="cartItem.discount > 0"
                >with a {{ cartItem.discount }}% discount</span
              >
            </li>
          </ul>
          <span *ngIf="note"
            ><br />
            <i class="fas fa-sticky-note"></i>
            {{ note }}</span
          >
          <span *ngIf="internalNote"
            ><br />
            <i class="fas fa-tag"></i>
            {{ internalNote }}</span
          >

          <div class="total">
            <span *ngIf="!isCartEmpty"
              >Total: <b>₱ {{ getTotalPrice() }}</b>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-around p-0 mb-3">
          <button
            class="btn btn-hover w-50 border-white p-1"
            type="submit"
            [disabled]="isCartEmpty"
            (click)="!isCartEmpty && openDialog()"
          >
            <i class="fas fa-sticky-note"></i> Customer Note
          </button>
          <button
            class="btn btn-hover w-50 border-white p-1"
            [disabled]="isCartEmpty"
            (click)="!isCartEmpty && openNoteDialog()"
          >
            <i class="fas fa-tag"></i> Internal Note
          </button>
        </div>
        <select
          name="customer"
          id="customer"
          [(ngModel)]="selectedCustomer"
          (ngModelChange)="onCustomerChange()"
          class="form-control shadow mb-1 text-center"
        >
          <option [ngValue]="undefined">Customer</option>
          <option *ngFor="let customer of customers" [ngValue]="customer">
            {{ customer.full_name }}
          </option>
        </select>
        <div class="col-md-12 mb-3">
          <div class="row">
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('1')"
              >
                1
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('2')"
              >
                2
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('3')"
              >
                3
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn btn-click calculator-key"
                (click)="changeSelectedMode('quantity')"
              >
                QTY
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('4')"
              >
                4
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('5')"
              >
                5
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('6')"
              >
                6
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key ps-1"
                (click)="changeSelectedMode('discount')"
              >
                %Disc
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('7')"
              >
                7
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('8')"
              >
                8
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('9')"
              >
                9
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="changeSelectedMode('price')"
              >
                Price
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('0')"
              >
                0
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                (click)="updateSelectedProduct('.')"
              >
                .
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-delete calculator-key" (click)="undo()">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <div class="col-3">
              <button
                class="btn calculator-key"
                [class.disabled]="isCartEmpty"
                (click)="!isCartEmpty && openPaymentDialog()"
              >
                Payment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 d-flex flex-wrap align-items-start productsContainer">
      <div class="row w-100">
        <div class="dropdown filterButton mb-2 d-flex justify-content-end">
          <button
            class="dropdown-toggle btn btn-sm"
            (ngModelChange)="updateFilteredProducts()"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-filter"></i> Filter
          </button>
          <div
            class="dropdown-menu cursor"
            aria-labelledby="dropdownMenuButton"
            style="margin-top: 30px"
          >
            <a class="dropdown-item" value="all">All</a>
            <a class="dropdown-item" value="Services">Services</a>
            <a class="dropdown-item" value="Router">Router</a>
            <a class="dropdown-item" value="Vendo">Vendo</a>
            <a class="dropdown-item" value="Tools">Tools</a>
          </div>
        </div>
        <div class="wrapper"  *ngIf="filteredProducts && filteredProducts.length > 0; else noProductsMessage">
          <div
            class="box"
            *ngFor="let item of filteredProducts; let i = index"
            (click)="addToCart(item)"
          >
            <div class="product-information-tag">
              <i
                class="product-information-tag-logo fas fa-info-circle"
                (click)="openInfoDialog(item, $event)"
              ></i>
            </div>
            <img
              src="assets/gojo.jpg"
              class="card-img-top smaller-image"
              alt="Image Description"
            />

            <div class="card-body">
              <h5
                class="card-title smaller-font mb-1 text-center"
                [ngClass]="{ 'long-title': item.name.length > 10 }"
              >
                {{ item.name }}
              </h5>
              <p
                class="card-text smaller-font m-auto
                 text-center p-1 border bg-white w-75 mb-2 rounded shadow"
              >
                <b>₱ </b>{{ item.price }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProductsMessage>
    <!-- Message to display when there are no products -->
    <div class="text-center">
      <p>No products available at the moment.</p>
      <!-- You can add more content or messages here -->
    </div>
  </ng-template>
</div>
