<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Discount</th>
        <th>Quantity</th>
        <th>Product</th>
        <th>Points</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of reservation">
        <td>{{ item.customer_name }}</td>
        <td>{{ item.when }}</td>
        <td>{{ getServiceType(item.service_id) }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.status }}</td>
      </tr> -->
    </tbody>
  </table>