<div class="d-flex justify-content align-items-center mb-3">
  <button style="position: relative; bottom: 100%" class="toggle-button" (click)="toggleView()" matTooltip="Card View"
    matTooltipPosition="above">
    <i class="fas fa-th-large"></i>
  </button>
  <button class="toggle-button" (click)="cardView()" matTooltip="List View" matTooltipPosition="above">
    <i class="fas fa-list"></i>
  </button>

  <div class="d-flex sort-by">
    <select [(ngModel)]="selectedCategory" name="" id="" class="border-0 dropdownUni" (change)="sortProducts()">
      <option value="date">Date</option>
      <option value="points">Points</option>
      <option value="price">Price</option>
      <option value="category">Category</option>
    </select>

    <select [(ngModel)]="selectedCategory" *ngIf="selectedCategory === 'category'" [(ngModel)]="selectedFilterCategory"
      name="" id="" class="border-0 dropdownUni" (change)="filterProducts()">
      <option value="all">All</option>
      <option value="services">Wifi</option>
      <option value="software">Router</option>
      <option value="tools">Tools</option>
      <option value="vendo">Vendo</option>
    </select>
  </div>
  <div class="addButton">
    <a routerLink="/products/create" class="btn btn-sm text-white"><i class="fas fa-plus"></i> New Product</a>
  </div>
</div>
<div class="container-fluid mt-2">
  <div [ngClass]="{
      'col-lg-12': !isCardView,
      'col-lg-12 ': isCardView
    }">
    <div class="row">
      <ng-container *ngIf="isCardView; else listView">
        <!-- Card View -->
        <div class="col-md-3" *ngFor="let item of filteredProducts; let i = index" routerLink="/products/{{ item.id }}">
          <div class="card mb-4 customise-card" [ngClass]="{ active: i === activeCardIndex }" (click)="activateCard(i)">
            <div class="row">
              <div class="col-md-3 p-0">
                <img class="card-img card-img-height" src="assets/gojo.jpg" alt="Card image" />
              </div>
              <div class="col-md-8 py-1">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">Price: {{ item.price | currency:'PHP':'symbol':'1.2-2'}}</p>
                  <p class="card-text">  <i class="fas fa-star"></i> Points: {{ item.points }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #listView>
        <!-- Table View -->
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th class="ps-5">Name</th>
                <th>Price</th>
                <th>Points</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">
                <td>{{ item.code }}</td>
                <td width="25%"><img class="img-fluid img-thumbnail imgTable me-3" src="assets/gojo.jpg" alt="Card image" />{{ item.name }}</td>
                <td>₱ {{ item.price }}</td>
                <td>{{ item.points }}</td>
                <td>{{ item.category }}</td>

                <td>
                  <a routerLink="/products/{{ item.id }}" class="btn btn-sm btn-info"> <i class="fa fa-eye text-white"></i> </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </div>
</div>