.addButton>a {
    background-color: #12243B;
}
.card-deck>.row{
    margin-top: 20px;
    width: 100%;
}
.card-img-height {
    height: 100%;
    object-fit: cover;
  }
.card{
    margin: 0;

}
.viewbtn{
    background-color: #12243B;
    display: flex;
    flex-direction: column;
}
.sort-by{
  font-family: "Poppins-Bold", Helvetica;
  font-size: 15px;
  text-align: center;
}

.toggle-button {
    background: none; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    color: #12243b; 
    font-size: 16px; 
    margin-right: 10px;

  }
  
  .toggle-button:hover {
    text-decoration: underline; 
  }


