<h3>Customer info</h3>
<div *ngIf="orderDetails && orderDetails.length > 0">
  <div class="row">
    <p>Customer Name: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.fullName }}</p>
    <p>Address: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.address }}</p>
    <p>Mobile Number: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.mobileNumber }}</p>
    <p>Email: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.email }}</p>
    <p>Gender: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.gender }}</p>
    <p>Previlege: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.previlege }}</p>
    <p>Points: {{ getCustomerDetails(orderDetails[0]?.customer_id)?.points }}</p>
    <!-- Add more details as needed -->
  </div>
  <div class="row">
    <div class="col">
      <h3>Products Info</h3>
      <table class="table shadow">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Code</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let product of orderDetails[0]?.products">
            <td width="15%" title="">{{ product.id }}</td>
            <td width="20%" title="">{{ product.image }}</td>
            <td width="15%" title="">{{ product.name }}</td>
            <td width="8%" title="">{{ product.code }}</td>
            <td width="25%" title="">{{ product.quantity }}</td>
            <td width="10%" title=""> <b>₱</b> {{ product.price }}</td>
          </tr>
          <tr>
            <td colspan="5">
              <p class="float-end">Total:</p>
            </td>
            <td width="25%" class="text-center">
              <b>₱ {{ orderDetails[0]?.total }}</b> 
            </td>
          </tr>
        </tbody>
      </table>
      <ul>
        <p>Total: {{ orderDetails[0]?.total }}</p>
        <p>Quantity: {{ orderDetails[0]?.quantity }}</p>
        <p>Discount: {{ orderDetails[0]?.discount }}</p>

        <!-- <li >
          <p>Product ID: </p>
          <p>Product Image: {{ product.image }}</p>
          <p>Name: {{ product.name }}</p>
          <p>Code: {{ product.code }}</p>
          <p>Price: {{ product.price }}</p>
          <p>Quantity: {{ product.quantity }}</p>
          Add more product details as needed 
        </li> -->
      </ul>
    </div>
    <div class="col">
      gfdgfg
    </div>
  </div>
</div>