<div class="container-fluid bg-white d-flex">
  <div class="col-md-4">
    <div class="image-upload-container">
      <input name="image" type="file" accept="image/x-png, image/jpeg" style="display: none" id="file-input"
        [(ngModel)]="image" (change)="onFileSelected($event)" />
      <label for="file-input" class="container-click-area">
        <div class="image-previews mt-2 me-5">
          <div class="image">
            <i class="fas fa-camera"></i>
            <img [src]="selectedImage" alt="Selected Image" *ngIf="selectedImage" class="selected-image" />
          </div>
        </div>
      </label>
    </div>
  </div>

  <div class="col">
    <div class="row mt-3">
      <h3 class="text-center">New Product</h3>
      <div class="col">
        <div class="form-group mt-4">
          <input type="text" class="textbox-4" [(ngModel)]="name" name="product-name" id="product-name" required />
          <label class="form-label-4">Name</label>
        </div>
        <div class="form-group mb-4">
          <input [(ngModel)]="model" type="text" name="product-model" id="product-model" class="textbox-4"
            placeholder="" />
          <label class="form-label-4"> Model</label>
        </div>
        <div class="form-group mb-4">
          <label class="form-label-4">Category</label>
          <select name="product-category" id="product-category" class="form-control" [(ngModel)]="category"
            class="textbox-4">
            <option value="Software">Software</option>
            <option value="Hardware">Hardware</option>
            <option value="Services">Services</option>
            <option value="Tools">Tools</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group mt-4">
          <input [(ngModel)]="price" type="number" name="product-price" id="product-price" class="textbox-4"
            placeholder="" />
          <label class="form-label-4"> Price</label>
        </div>
        <div class="form-group mb-4">
          <input [(ngModel)]="quantity" type="number" name="product-quantity" id="product-quantity" class="textbox-4"
            placeholder="" />
          <label class="form-label-4"> Quantity</label>
        </div>
        <div class="form-group mb-4">
          <input [(ngModel)]="points" type="number" name="product-points" id="product-points" class="textbox-4"
            placeholder="" />
          <label class="form-label-4"> Points</label>
        </div>
      </div>
      <div class="container mb-4">
        <div class="pe-5">
          <button type="submit" class="btn btn-warning float-end" (click)="addRow()"><b>+</b></button>
        </div>
        
        <br /><br />
        <table>
          <tr>
            <th>Sub Product</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let row of rows; let i = index">
            <td>
              <select name="selectedProductId" class="textbox-4 form-control" [(ngModel)]="row.subID"
                style="width: 300px">
                <option *ngFor="let prod of products" [value]="prod.id">
                  {{ prod.name }}
                </option>
              </select>
            </td>

            <td>
              <input type="number" class="textbox-4 form-control" [(ngModel)]="row.subQuan" placeholder=""
                style="width: 158px" />
            </td>
            <td>
              <button class="btn btn-danger" (click)="removeRow(i)">Remove</button>
            </td>
          </tr>
        </table>
        <div class="text-center pb-3">
          <button type="submit" class="btn btn-primary submitbtn" (click)="submitForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>