.btn-secondary {
    background-color: #ccc;
    color: #333;
    border: none;
  }
  
  .btn-primary {
    background-color: #12243b;
    color: white;
    border: none;
  }
  .modal-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding-right: 5%;
  }

  .upload-image-label {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
  }
  /* .column-1 {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    position: relative;
    left: 10%;
    width: 500%;
}
.column-2 {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    position: relative;
    left: 50%;
    width: 500%;
} */