.totalCol{
    background-color: #12243B;
    height: 5rem;
    border-radius: 10px;
} 
.TopProdInfo>p{
    margin-bottom: 0;
    font-size:medium;
}
.col-lg-4>.row {
    margin: auto;
}
.prod{
    width: 90%;
}
.printButton{
    background-color: #12243B;
}

.card-link {
    text-decoration: none; 
    color: inherit; 
}

.card {
    width: 90%; 
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    border: 2px solid transparent; 
  }
  
  .card-img {
    margin-top: 15%;
    width: 105px;
    height: 140px; 
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 10px; 
    margin-bottom: 5px;
  }
  
  .card {
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
    margin-top: 15%;
    width: 110px;
    height: 150px;
  }

  