<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<div class="container-fluid d-flex justify-content-between">
  <div class="col-lg-9 p-3" style="background-color: white; width: 73%;">
    <h4>Recent Activity</h4>
    <div class="row mt-3">
      <div class="col totalCol text-white" (click)="updateChartType(0)">
        <p class="mt-2 ms-2">Total Orders</p>
        <span>{{totalOrders}}<i class="fas fa-keyboard float-end"></i></span>
      </div>
      <div class="col totalCol mx-1 text-white" (click)="updateChartType(1)">
        <p class="mt-2 ms-2">Total Income</p>
        <span>{{totalIncome}}<i class="far fa-money-bill-alt float-end"></i></span>
      </div>
      <div class="col totalCol me-1 text-white" (click)="updateChartType(2)">
        <p class="mt-2 ms-2">Total Customer</p>
        <span>{{ totalCustomers }}<i class="fas fa-users float-end"></i></span>
      </div>
      <div class="col totalCol text-white" (click)="updateChartType(3)">
        <p class="mt-2 ms-2">Total Reservation</p>
        <span>{{totalReservations}}<i class="fas fa-list-ul float-end"></i> </span>
        
      </div>
    </div>
    <br />
    <div style="width: 650px; height: 300px;">
      <canvas id="myChart" class="ms-5 ps-5"></canvas>
    </div>
  </div>
  <div class="col-lg-3 ms-2">
    <h6 class="mt-2 ps-2"><b>Top Customer</b></h6>
    <ng-container *ngFor="let item of customers?.slice(0, 1); let i = index">
      <div class="row bg-white topContainer" [ngClass]="{ active: i === activeCardIndex }" (click)="activateCard(i)">
        <div class="col-md-4 p-1 my-auto">
          <img class="card-img"
            src="https://img.freepik.com/premium-vector/young-girl-anime-style-character-vector-illustration-design-manga-anime-girl_147933-100.jpg"
            alt="Card image" />
        </div>
        <div class="col-md-8">
          <h5 class="title pt-2">{{ item.full_name }}</h5>
          <small class="text mb-0">
            <i class="fas fa-star text-warning"></i> {{ item.points }}
          </small>
          <small class="float-end text-secondary mt-5" style="font-size: 10px;">Member since <b>{{ formatDate(item.created_at) }}</b> </small>
        </div>
      </div>
    </ng-container>
    <h6 class="mt-2 ps-2"><b>Top Selling Products</b></h6>
    <div class="row border bg-white mt-3 topProd pt-3">
      <article *ngFor="let item of products?.slice(0, 8)">
        <h6>{{ item.name }} <span class="float-end">{{ getSoldQuantity(item) }}/{{ item.quantity }}</span></h6>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="getProgressWidth(item)" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </article>
    </div>
  </div>
</div>