<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<div class="container-fluid d-flex justify-content-between">
  <div class="col-lg-12 p-3">
    <div class="row">
      <div
        class="col totalCol"
        style="background-color: rgba(255, 99, 132, 0.2)"
        (click)="updateChartType(0)"
      >
        <p class="mt-2 ms-2 mb-0">Orders</p>
        <h1 class="float-end me-5">{{ totalOrders }}</h1>
      </div>
      <div
        class="col totalCol mx-1"
        style="background-color: rgba(54, 162, 235, 0.2)"
        (click)="updateChartType(1)"
      >
        <p class="mt-2 ms-2 mb-0">Sales</p>
        <h1 class="float-end me-5">₱ {{ totalIncome | number }}</h1>
      </div>
      <div
        class="col totalCol me-1"
        style="background-color: rgba(255, 206, 86, 0.2)"
        (click)="updateChartType(2)"
      >
        <p class="mt-2 ms-2 mb-0">Customers</p>
        <h1 class="float-end me-5">{{ totalCustomers }}</h1>
      </div>
      <div
        class="col totalCol"
        style="background-color: rgba(75, 192, 192, 0.2)"
        (click)="updateChartType(3)"
      >
        <p class="mt-2 ms-2 mb-0">Reservations</p>
        <h1 class="float-end me-5">{{ totalReservations }}</h1>
      </div>
    </div>
  <br />
  <div class="row">
    <div class="col p-1 shadow rounded mx-3 pt-4">
      <div style="width: 560px; height: 300px">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="col mx-3 px-4 shadow rounded">
        <h6 class="mt-2 ps-2"><b>Top Five Customers</b></h6>
        <ng-container
          *ngIf="customers && customers.length > 0; else noTopCustomer"
        >
          <ng-container
            *ngFor="let item of customers?.slice(0, 5); let i = index"
          >
            <div
              class="row bg-white topContainer mb-1"
            >
              <div class="col-md-4 p-1 my-auto">
                <img
                  class="card-img"
                  src="https://img.freepik.com/premium-vector/young-girl-anime-style-character-vector-illustration-design-manga-anime-girl_147933-100.jpg"
                  alt="Card image"
                />
              </div>
              <div class="col-md-8">
                <h6 class="title pt-2"> {{ item.full_name.split(' ')[0] }} </h6>
                <small class="text float-end text-secondary">
                  <i class="fas fa-star text-warning "></i> {{ item.points }}
                </small>
                <!-- <small
                  class="float-end text-secondary mt-2"
                  style="font-size: 10px"
                  >Member since {{ formatDate(item.created_at) }}
                </small> -->
              </div>
            </div>
          </ng-container>
        </ng-container>
        </div>
        <ng-template #noTopCustomer>
          <div
            class="row bg-white mt-3 topProd pt-3"
            *ngIf="customers.length === 0"
          >
            <p>No top customer available.</p>
          </div>
        </ng-template>
        <div class="col shadow rounded">
          <h6 class="mt-2 ps-2"><b>High-Stock Product</b></h6>
        <div
          class="row bg-white topProd pt-3"
          *ngIf="products.length === 0"
        >
          <p>No top selling products yet.</p>
        </div>
        <div
          class="row topProd pt-3"
          *ngIf="products.length > 0"
        >
          <article *ngFor="let productName of topSellingProducts">
            <h6>{{ productName }}</h6>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width]="getPercentage(productName)"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ getPercentage(productName) }}
              </div>
            </div>
          </article>
        </div>
        </div>
        
      </div>
    </div>
  </div>
