<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="prodImage position-relative">
        <label for="image-upload" class="image-label">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2f9e8780-1e9b-4920-85b8-bb5270cb1e1e/dg37osc-1d6b2c2a-f025-4881-b742-47b6408f1d6c.jpg/v1/fill/w_1280,h_1703,q_75,strp/gojo_satoru_jujutsu_kaisen_season_2_by_nico2713_dg37osc-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcwMyIsInBhdGgiOiJcL2ZcLzJmOWU4NzgwLTFlOWItNDkyMC04NWI4LWJiNTI3MGNiMWUxZVwvZGczN29zYy0xZDZiMmMyYS1mMDI1LTQ4ODEtYjc0Mi00N2I2NDA4ZjFkNmMuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.SZT_kvya8EULAQ19CNjJupErJC_tyEyBwaDb_qJRpwg" class="img-thumbnail" alt="Product Image" />
          <span class="choose-file" *ngIf="isEditing"></span>
        </label>
        <input
          id="image-upload"
          type="file"
          accept="image/*"
          [disabled]="!isEditing"
          style="display: none"
          (change)="handleImageUpload($event)"
        />
      </div>
      <div class="prodKitting">
        <h3 class="text-center mt-2">Product Kit</h3>
        <div class="col-md-12 border p-2 d-flex align-items-center">
          <div class="col-md-6">
            <img
              src="https://images.unsplash.com/photo-1592743263126-bb241ee76ac7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwc2NlbmVyeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
              class="rounded-circle"
              width="50"
              height="50"
            />
          </div>
          <div class="col-md-6 text-center">
            <span>John Doe</span>
          </div>
        </div>
        <br />
      </div>
    </div>
    <div class="col-lg-9">
      <div
        class="alert alert-success text-center"
        role="alert"
        *ngIf="successMessage"
      >
        {{ successMessage }}
      </div>
      <div class="container p-3">
        <form>
          <div class="icon-wrapper">
            <button class="edit-button" (click)="toggleEditButton()">
              <i
                class="fa edit-icon"
                [ngClass]="{ active: isEditing }"
                (click)="edit()"
              ></i>
            </button>
          </div>
          <div class="form-group text-center">
            <input
              type="text"
              name="product-name"
              id="product-name"
              class="form-control display-1"
              placeholder=""
              [value]="product.name"
              [readonly]="isReadOnly"
              [class.editable]="isEditable"
              [(ngModel)]="product.name"
              #productNameInput
            />
            <span *ngIf="errors.name" class="text-danger">{{
              errors.name
            }}</span>
          </div>
          <div class="row mt-5 ps-3">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <label for="product-code" class="mb-2">Product Code</label>
                <input
                  type="text"
                  name="product-code"
                  id="product-code"
                  class="form-control"
                  placeholder=""  
                  [value]="product.code"
                  [(ngModel)]="product.code"
                  #productCodeInput
                  readonly
                />
                <span *ngIf="errors.code" class="text-danger">{{
                  errors.code
                }}</span>
              </div>
              <div class="form-group mb-4">
                <label for="product-price" class="mb-2">Product Price</label>
                <input
                  type="text"
                  name="product-price"
                  id="product-price"
                  class="form-control"
                  placeholder=""
                  [value]="product.price"
                  [readonly]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="product.price"
                  #productPriceInput
                />
                <span *ngIf="errors.price" class="text-danger">{{
                  errors.price
                }}</span>
              </div>
              <div class="form-group">
                <label class="mb-2">Category</label>
                <select
                  name="product-category"
                  id="product-category"
                  class="form-control"
                  [disabled]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="product.category"
                  [value]="product.category"
                >
                <option value="Software">Software</option>
                <option value="Hardware">Hardware</option>
                <option value="Services">Services</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                <label for="product-model" class="mb-2">Product Model</label>
                <input
                  type="text"
                  name="product-model"
                  id="product-model"
                  class="form-control"
                  placeholder=""
                  [value]="product.model"
                  [class.editable]="isEditable"
                  [readonly]="isReadOnly"
                  [(ngModel)]="product.model"
                  #productModelInput
                />
                <span *ngIf="errors.model" class="text-danger">{{
                  errors.model
                }}</span>
              </div>
              <div class="form-group mb-4">
                <label for="product-quantity" class="mb-2"
                  >Product Quantity</label
                >
                <input
                  type="text"
                  name="product-quantity"
                  id="product-quantity"
                  class="form-control"
                  placeholder=""
                  [value]="product.quantity"
                  [(ngModel)]="product.quantity"
                  #productQuantityInput
                  readonly
                />
                <span *ngIf="errors.quantity" class="text-danger">{{
                  errors.quantity
                }}</span>
              </div>
              <div class="form-group mb-4">
                <label for="product-points" class="mb-2">Product Points</label>
                <input
                  type="text"
                  name="product-points"
                  id="product-points"
                  class="form-control"
                  placeholder=""
                  [value]="product.points"
                  [readonly]="isReadOnly"
                  [class.editable]="isEditable"
                  [(ngModel)]="product.points"
                  #productPointsInput
                />
                <span *ngIf="errors.points" class="text-danger">{{
                  errors.points
                }}</span>
              </div>
            </div>
            <div class="button-group" [class.hidden]="!isEditable">
              <button class="btn btn-primary" (click)="updateProduct()">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
