*{
    font-family: 'Trebuchet MS';
}
.col-lg-9 {
    background-color: white;
}
.rounded-circle{
    width : 80px;
    height: 80px;
}
input,select {
    border: none;
    border-radius: 0;
    width: 20rem;
}
input,select:focus{
    outline: none;
}
.form-control:hover{
    border-bottom: solid 1px black;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-bottom: solid 1px black;
  }